.one_third {
  margin-bottom: 1%;
}


/*sredi */
.searchBar {
  background-color: #a2a2a2 !important;
  border-color: #FF8F2B !important;

#headerWrapper {
  background-color: #7b7b7b !important;
}

#backtotop {
    background-color: #333333 !important;
}

#top {
  background-color: #7b7b7b !important;
}

#copyrightWrapper {
  background-color: #7b7b7b !important;
}
