.one_third {
  margin-bottom: 1%;
}

#searchBar {
  background-color: #7b7b7b !important;
}

#headerWrapper {
  background-color: #7b7b7b !important;
}



#backtotop {
    background-color: #333333 !important;
}

#top {
  background-color: #7b7b7b !important;
}

.wrapper .row {
  background-color: #7b7b7b !important;
  color: none !important;
}
